.color-box {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.col-md-2 {
    padding: 5px;
}